<div class="gallery">
  <a target="_blank" href="/commons.jpg">
    <img src="/commons.jpg" alt="Commons Room" width="600" height="400">
  </a>
  <div class="desc">The party room has room for 68</div>
</div>

<div class="gallery">
  <a target="_blank" href="/entry.jpg">
    <img src="/entry.jpg" alt="Front entry" width="600" height="400">
  </a>
  <div class="desc">A welcoming entry</div>
</div>

<div class="gallery">
  <a target="_blank" href="/exerciserm.jpg">
    <img src="/exerciserm.jpg" alt="Exercise Room" width="600" height="400">
  </a>
  <div class="desc">Plenty of weights and equipment for a good workout</div>
</div>

<div class="gallery">
  <a target="_blank" href="/library.jpg">
    <img src="/library.jpg" alt="Library" width="600" height="400">
  </a>
  <div class="desc">A quiet place to read a good book</div>
</div>

<div class="gallery">
  <a target="_blank" href="/BardsFront2.jpg">
    <img src="/BardsFront2.jpg" alt="Monument" width="600" height="400">
  </a>
  <div class="desc">The monument welcoms you to Bards Crossing</div>
</div>

<div class="gallery">
  <a target="_blank" href="/poolroom.jpg">
    <img src="/poolroom.jpg" alt="Pool room" width="600" height="400">
  </a>
  <div class="desc">Relax with a game of pool</div>
</div>

<div class="gallery">
  <a target="_blank" href="/floorplan1.jpg">
    <img src="/floorplan1.jpg" alt="Sample Floor Plan" width="800" height="600">
  </a>
  <div class="desc">A well laid out unit</div>
</div>
