
<div class="gallery">
		<img src="/sell-my-condo.jpg" alt="Sell My Condo" style="width=250px;height=200px;" />
</div>


<div class="gallery">
		Real estate agents wishing more information can call the Bards Crossing Association at 651-456-8418 ext 1
</div>

<div class="gallery">
If you are looking for a Real Estate agent
familiar with Bards Crossing, call
LORI McCAHEY
Coldwell Banker Realty
651.398.4138
LMcCahey@cbburnet.com

OR

LAURA KEOGAN
RE/MAX
612-964-5926
Laura@LauraKeoganRealty.com
</div>
